body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.parteDeCima{
    border: 2px solid black;
    padding: 17px;    
}
.input_calc{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputs_calc{
    display: flex;
    gap: 20px;
}

.operacao_btnCalc{
    padding-top: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.parteDeBaixo{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botoesBaixo{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 2px;
}

h1{
    color:#fd3d03;
    font-size: 50px;
    border-radius: 20px;
   
}
select{
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
input{
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
.infoCalc{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.resultado{
    font-weight: 500;
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 0px 6px;
}

.historico {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;   
}

.botao-calcular {
    background-color: #494545;
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.botao-calcular:hover {
    background-color: #fd3d03;
}

th, td {
    text-align: center;
    padding: 8px;
}
td{
    border: 2px solid black;
}
th {
    background-color: #fd3d03;
    border-radius: 2px;
}

